@font-face {
  font-family: 'FranklinGothic-Medium';
  src: url('../fonts/FranklinGothic-Medium.eot');
  src: url('../fonts/FranklinGothic-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/FranklinGothic-Medium.woff2') format('woff2'),
       url('../fonts/FranklinGothic-Medium.woff') format('woff'),
       url('../fonts/FranklinGothic-Medium.ttf') format('truetype'),
       url('../fonts/FranklinGothic-Medium.svg#FranklinGothic-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}

