@import "font.css"

html
body
  height 100%
body
  background-color #141b23
  font-family FranklinGothic-Medium
  max-width 1000px
  margin 0 auto
.wrap
  min-height 100%
  max-width 1000px
  padding-bottom (55*2 + 10*2 + 12)px // footer: padding*2 + p padding*2 + p font-size
  box-sizing border-box
  background url("../images/image.png") no-repeat right top #141b23
  @media (max-width: 667px)
    background-size contain

.wrap-footer
  margin-top - (55*2 + 10*2 + 12)px // footer: padding*2 + p padding*2 + p font-size
.menu
  font-size 15px
  li
    display inline-block
    padding 5px 15px 5px 0
    a
      text-decoration none
      color #9da6b5
.main
  font-size 13px
  color #fff
  padding 0 25px 0 95px
  max-width 470px
  h1
    font-size 25px
    margin-bottom 10px
  p
    margin-bottom 17px
    line-height 17px
.footer
  font-size 12px
  color #54595f
  p
    padding 10px 0
.menu, .footer
  padding 55px 50px
