@import "font.css";
html,
body {
  height: 100%;
}
body {
  background-color: #141b23;
  font-family: FranklinGothic-Medium;
  max-width: 1000px;
  margin: 0 auto;
}
.wrap {
  min-height: 100%;
  max-width: 1000px;
  padding-bottom: 142px;
  box-sizing: border-box;
  background: url("../images/image.png") no-repeat right top #141b23;
}
@media (max-width: 667px) {
  .wrap {
    background-size: contain;
  }
}
.wrap-footer {
  margin-top: -142px;
}
.menu {
  font-size: 15px;
}
.menu li {
  display: inline-block;
  padding: 5px 15px 5px 0;
}
.menu li a {
  text-decoration: none;
  color: #9da6b5;
}
.main {
  font-size: 13px;
  color: #fff;
  padding: 0 25px 0 95px;
  max-width: 470px;
}
.main h1 {
  font-size: 25px;
  margin-bottom: 10px;
}
.main p {
  margin-bottom: 17px;
  line-height: 17px;
}
.footer {
  font-size: 12px;
  color: #54595f;
}
.footer p {
  padding: 10px 0;
}
.menu,
.footer {
  padding: 55px 50px;
}
